[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary= "2.9.3"
sqlalchemy = "*"
flask = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
python-jenkins = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8.9"
